// app global css in SCSS form
@import "./reset.css";
@import "./fontsize.scss";

@font-face {
  font-family: "MontserratRegular";
  src: url('../fonts/Montserrat-Regular.ttf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "MontserratBold";
  src: url('../fonts/Montserrat-Bold.ttf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "MontserratBlack";
  src: url('../fonts/Montserrat-Black.ttf');
  font-style: normal;
  font-weight: normal;
}

body {
  font-family: 'MontserratRegular';
  margin: 0 auto;
  // background-size: cover;
}

a {
  text-decoration: none;
}

.q-focus-helper {
  visibility: hidden;

}

.q-header {
  &__q-btn--rectangle {
    border-radius: 5px;
    border: 2px solid $positive;
    &:hover {
      border: 2px solid $white;
      background-color: $positive;
    }
    &:active {
      background-color: $white !important;
      color: $primary;
    }
  }
}


h1 {
  font-family: 'MontserratBlack';
  font-size: 50px;
  line-height: 62px;
  padding-bottom: 20px;
}

h3 {
  font-family: 'MontserratBlack';
  font-size: 32px;
  line-height: 40px;
  padding-bottom: 80px;
}
